/* Minimum Age for WooCommerce */

.min-age-woo-field {
	width: 15%;
	float: left;
}

.woocommerce form .form-row.min-age-woo-field .input-text {
	width: 5em;
}

@media only screen and (max-width: 768px) {

	.min-age-woo-field {
		width: 30%;
	}

}
