/* Minimum Age for WooCommerce */

.woocommerce #min-age-woo-ask-dob
{
	display: flex;
	flex-wrap: wrap;
	width:100%;
}

.woocommerce #min-age-woo-ask-dob h3,
.woocommerce #min-age-woo-ask-dob p
{
	flex: 0 0 100%;
}

.woocommerce #min-age-woo-ask-dob p.form-row.min-age-woo-field
{
	flex: 0 0 auto;
	margin-right: 1em;
}

.woocommerce form .form-row.min-age-woo-field .input-text
{
	width: 5em;
}
